@font-face{font-family:'Jeju MJ'; src:url('/font/JejuMyeongjo.ttf')}
@font-face{font-family:'Jeju GT'; src:url('/font/JejuGothic.ttf')}
 
body, table, div, p {font-family:'Jeju GT';}
span {font-family: 'Gulim';}

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
}

.banner{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100px;
    background-image: url("image/song_letter_banner.png");
    border: beige solid 1px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-family: 'Jeju MJ';
}

#topMenu{
    width: 870px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0px 20px 0px;
    height: auto;
}

#topMenu ul{
    padding: 0 0 0 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    height: 24px;
}

#topMenu ul li{
    margin: 0 0 0 0;
    list-style: none;
    color: black;
    background-color: white;
    font-size: 18px;
    float: left;
    border-left: black 1px solid;
}

#topMenu ul li a{
    text-decoration: none;
    display: block;
    width: 215px;
    vertical-align: middle;
    text-align: center;
}

#main{
    height: auto;
    border: red solid 1px;
    position: relative;
}

#main img{
    width: 100%;
}

.container{
    position: absolute;
    bottom: 0px;
    height: 70%;
    border: red 1px;
    background-color: #c1e2d4;
    opacity: 0.95;
    width: 100vw;
    text-align: center;
}

#bottom{
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    border-top: black solid 5px;
    width: 100%;
    background-color: gray;
    height: 300px;
}

#wrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 0 0;
}

.img-container{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.button-container{
    line-height: 400px;
    text-align: center;
}

.button{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #5a8e79;
    color: white;
    text-align: center;
    width: 485px;
    line-height: 100px;
    font-size: 30px;
    display: inline-block;
}

/* page 1 */

#side{
    width: 230px;
    position: fixed;
}

#side ul{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#side ul li{
    list-style: none;
    margin: 0 0 0 0;
    padding-left: 15px;
    line-height: 60px;
    text-align: center;
    background-color: #5a8e79;
    color: #f0f5f3;
    font-size: 24px;
    text-align-last: left;
}

#side ul li:first-child{
    padding-left: 0px;
    line-height: 80px;
    background-color: #254438;
    font-size: 36px;
    text-align-last: center;
}

.contents{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 20px 20px;
    height: auto;
    background-color: #f0f5f3;
    
}

.title{
    font-size: 40px;
}
.subtitle{
    font-family: 'Jeju GT';
    margin-left: 50px;
    font-size: 36px;
}
.article{
    margin-left: 70px;
    font-size: 24px;
    line-height: 1.5;
    overflow: hidden;
    height: auto;
    text-align: justify;
}

.article img{
    margin-right: 20px;
    margin-bottom: 20px;
}

/* page 2 */

#imgbox{
    position: relative;
    float: left;
    width: 50%;
}

#imgbox img{
    position: absolute;
}

#detail{
    position: relative;
    float: right;
    width: 50%;
}

#detail img:first-child{
    margin-top: 100px;
    width: 100%;
}

#list{
    float: none;
}

#bawi{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#bawi th,td,tr{
    margin: 0 0 0 0;
    border: 0px;
    padding: 0 20px 0 20px;
}
#bawi th{
    background-color: #254438;
    color: white;
    height: 40px;
}
#bawi td,tr{
    background-color: #f0f5f3;
    height: 30px;
}
